# Carpetas que no se deben subir a GitHub
node_modules/
build/
dist/
out/

# Archivos de desarrollo
package-lock.json
npm-debug.log


# Variables de entorno
.env
.env.local

# Sistema
.DS_Store
Thumbs.db